html, body {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    width: 80%;
    max-width: 1920px;
    margin: auto;
}

#chat {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 60vh;
    overflow-y: auto;
    padding: 0.5rem;
    border: solid 2px var(--pico-muted-border-color);
    border-radius: .5rem;
    margin-top: 1rem;
}


#send-message-form {
    width: 100%;
    margin: 1rem .75rem;

}

.flex {
    display: flex;
}

.msg {
    max-width: 70%;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0;
    border-radius: 0.75rem;
    word-wrap: break-word;
    font: normal;
}

.msg.in {
    align-self: flex-start;
    background: var(--pico-secondary-background);
    color: var(--pico-color);
}

.msg.out {
    align-self: flex-end;
    background: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
}
